@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/colorsTokens.scss" as colors;

.pageLayoutDefault {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: mixins.pxToRem(24);
  flex: 1;
  width: 100%;
  margin-inline: auto;
  max-width: mixins.pxToRem(1200);

  @include breakpoints.md {
    gap: mixins.pxToRem(48);
  }

  @include breakpoints.lg {
    gap: mixins.pxToRem(64);
  }

  @include breakpoints.xl {
    gap: mixins.pxToRem(80);
    padding-top: mixins.pxToRem(32);
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: mixins.pxToRem(32);

    @include breakpoints.lg {
      gap: mixins.pxToRem(48);
    }

    @include breakpoints.xl {
      gap: mixins.pxToRem(64);
    }
  }
}

.pageLayoutDefaultNavigation {
  display: flex;
  flex-direction: column;
  gap: mixins.pxToRem(24);

  @include breakpoints.lg {
    gap: mixins.pxToRem(36);
  }

  &_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: mixins.pxToRem(8);

    @include breakpoints.lg {
      gap: mixins.pxToRem(16);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: mixins.pxToRem(1);
      background: colors.$gradient-divider-strong;
    }
  }

  &_navContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &_logoLink {
    border: none;
  }

  &_breadcrumbs {
    display: flex;
    justify-content: center;
    width: 100%;

    @include breakpoints.xl {
      justify-content: flex-start;
    }
  }
}

.pageLayoutDefaultContent {
  display: flex;
  flex-direction: column;
  gap: mixins.pxToRem(24);

  @include breakpoints.md {
    gap: mixins.pxToRem(48);
  }

  @include breakpoints.lg {
    gap: mixins.pxToRem(64);
  }

  &__center {
    align-items: center;
  }

  &__right {
    align-items: flex-end;
  }
}

.pageLayoutDefaultFilledContent {
  display: flex;
  width: 100%;
  flex: 1;

  &_fullWidthWrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    padding: 0 mixins.pxToRem(16);

    @include breakpoints.lg {
      padding: 0 mixins.pxToRem(48);
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: mixins.pxToRem(24);
    width: 100%;
    max-width: mixins.pxToRem(1350);
    padding: mixins.pxToRem(24);
    background-color: colors.$color-surface-popover;
    border-radius: mixins.pxToRem(12);

    @include breakpoints.md {
      gap: mixins.pxToRem(48);
    }

    @include breakpoints.lg {
      gap: mixins.pxToRem(64);
      border-radius: mixins.pxToRem(24);
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: mixins.pxToRem(24);

    @include breakpoints.md {
      gap: mixins.pxToRem(48);
    }

    @include breakpoints.lg {
      gap: mixins.pxToRem(64);
    }
  }

  &_footer {
    width: 100%;
    max-width: mixins.pxToRem(1200);
    margin-inline: auto;
  }

  &__center {
    &_body {
      align-items: center;
    }
  }

  &__right {
    &_body {
      align-items: flex-end;
    }
  }
}
