@use "../styles/pxToRem" as mixins;
@use "../styles/breakpoints" as breakpoints;

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  padding: mixins.pxToRem(16);

  @include breakpoints.lg {
    padding: mixins.pxToRem(48);
  }
}
