@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/colorsTokens.scss" as colors;

.pageLayoutPanelRoot {
  display: flex;
  flex-direction: column;
  gap: mixins.pxToRem(16);
  padding: mixins.pxToRem(16);
}

.pageLayoutPanelTopNavigationMobile {
  &_logoLink {
    border: none;
  }

  &_logo {
    object-fit: contain;
    width: mixins.pxToRem(160);
    height: mixins.pxToRem(40);

    @include breakpoints.sm {
      width: mixins.pxToRem(220);
      height: mixins.pxToRem(54);
    }
  }
}

.pageLayoutPanelRootLink {
  border: none;

  &_logo {
    object-fit: contain;
    width: mixins.pxToRem(160);
    height: mixins.pxToRem(40);

    @include breakpoints.sm {
      width: mixins.pxToRem(220);
      height: mixins.pxToRem(54);
    }
  }
}

.pageLayoutPanelTopNavigationMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: mixins.pxToRem(8);
}

.pageLayoutPanelNavigationContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: mixins.pxToRem(16);
  width: 100%;
  padding: mixins.pxToRem(8) 0;
  list-style: none;
  overflow-x: auto;

  &_item {
    display: flex;
    justify-content: center;
    width: 100%;

    @include breakpoints.sm {
      justify-content: flex-start;
    }

    &__alignStart {
      justify-content: flex-start;
    }

    &__alignEnd {
      justify-content: flex-end;
    }
  }
}

.pageRootComponent {
  &_content {
    display: flex;
    flex-direction: column;
    gap: mixins.pxToRem(24);
    width: 100%;
    overflow-y: auto;
  }
}

.pageLayoutPanelHeader {
  display: flex;
  gap: mixins.pxToRem(8);
  align-items: center;
  width: 100%;
  padding-inline: mixins.pxToRem(24);

  @include breakpoints.lg {
    flex-direction: row;
    align-items: flex-start;
    padding: mixins.pxToRem(24);
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: mixins.pxToRem(8);
    width: 100%;
  }

  &_navigation {
    display: flex;
    align-items: center;
    gap: mixins.pxToRem(16);
    height: fit-content;
  }

  &_button {
    width: mixins.pxToRem(40) !important;
    height: mixins.pxToRem(40) !important;
    padding: 0 !important;
  }

  &_avatar {
    width: mixins.pxToRem(40) !important;
    height: mixins.pxToRem(40) !important;
  }

  &_icon {
    width: mixins.pxToRem(24);
    height: mixins.pxToRem(24);
    color: colors.$color-text-primary;
  }
}

.pageLayoutPanelDetailsContent {
  flex: 1;
  display: flex;
  gap: mixins.pxToRem(16);
  height: 100%;
  width: 100%;

  @include breakpoints.md {
    padding: mixins.pxToRem(16);
    padding-top: 0;
  }

  @include breakpoints.lg {
    padding: mixins.pxToRem(24);
    padding-top: 0;
  }
}
