@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/colorsTokens.scss" as colors;

.panelNavigation {
  &_item {
    display: flex;
    justify-content: center;
    width: 100%;

    @include breakpoints.md {
      justify-content: flex-start;
    }
  }
}
