// port for the backend server
BE_SERVER_PORT=:3000
APP_URL=http://localhost:3000

ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
DEFAULT_HEADERS={}
COOKIE_SECURE=false

DB_HOST=localhost
DB_PORT=5433
DB_USER=user
DB_PASSWORD=password
DB_NAME=postgres
DB_URL=postgres://user:password@localhost:5433/postgres?sslmode=disable