// port for the backend server
BE_SERVER_PORT=:3000
APP_URL=http://localhost:3000

OPENAPI_FILE=docs/openapi.json
OPENAPI_ZOD_FILE=docs/openapi.zod.ts
POSTMAN_COLLECTION_FILE=postman/kanbanmetrics.postman_collection.json

ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
DEFAULT_HEADERS={}
COOKIE_SECURE=false

DB_HOST=localhost
DB_PORT=5433
DB_USER=user
DB_PASSWORD=password
DB_NAME=postgres
DB_URL=postgres://user:password@localhost:5433/postgres?sslmode=disable