@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/colorsTokens.scss" as colors;

.userIndicator {
  display: flex;
  align-items: center;
  gap: mixins.pxToRem(8);
  list-style: none;

  @include breakpoints.sm {
    gap: mixins.pxToRem(24);
  }

  &_smallButton {
    padding: mixins.pxToRem(4) mixins.pxToRem(10) !important;
    font-size: mixins.pxToRem(12) !important;

    @include breakpoints.rwd(375) {
      padding: mixins.pxToRem(8) mixins.pxToRem(16) !important;
      font-size: mixins.pxToRem(14) !important;
    }
  }
}
