@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/colorsTokens.scss" as colors;

.globalError {
  margin: 0;
  color: colors.$color-status-danger-text;
  font-size: mixins.pxToRem(13);
  line-height: 1.35;
}
