@use "@/styles/pxToRem.scss" as mixins;
@use "@/styles/colorsTokens.scss" as colors;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/errors.scss" as errors;

.accountActivationForm {
  display: flex;
  flex-direction: column;

  &_buttonContainer {
    display: grid;
    gap: mixins.pxToRem(8);
    grid-template-columns: 1fr;
    margin-bottom: mixins.pxToRem(8);

    @include breakpoints.md {
      grid-template-columns: 3fr 2fr;
    }
  }

  &_turnstile {
    margin-block: mixins.pxToRem(8);
  }

  &_globalError {
    margin-block: mixins.pxToRem(8);

    @include errors.errorMessage;
  }
}
